@media screen and (max-width: 1030px){

.nav{
	display: none;
}

.supBase{
	display: block;
	text-align: center;
	width: 100vw;
}
.base{
	display: inline-block;
	position: initial;
	width: 100%;
}

/* Presentacion 	Presentacion 	Presentacion 	Presentacion*/


.datosTexto{
	margin: auto;
	text-align: center;
	transform: translateY(0);
	padding: 0px;
	box-shadow: none;
	border-radius: 0px;
	max-width: none;
}
#foto{
	width: 8em;
	margin-top: 1em;
	border: dashed 3px #000;
	border-radius: 50%;
}

/*	HABILIDADES		HABILIDADES		HABILIDADES		HABILIDADES 	*/

.h1{
	font-size: 20vw;
	display: block;
	margin-top: 50px;
}
.datosHabilidades{
	display: inline-flex;
	flex-wrap: wrap;
	margin-top: 2em;
	justify-content: space-around;
	text-align: center;
	padding: 0;
	box-shadow: none;
	border-radius: 0px;
	font-size: 0.8em;
}
.habilidades{
	margin-top: 1.3em;
}
.habilidad{
	margin: 9% 0px;
	text-align: center;
	font-size: .9em;
	max-width: 128px;
	max-height: 128px;
}
.habilidad img{
	width: 90%;
}


}/* 1030PX	 	1030PX  	1030PX 		1030PX 		1030PX 		1030PX */

@media screen and (max-width: 1280px){
	.base{
		width: 60%;
		left: 38%;
	}

	.nav li a, .nav li p{
		display: inline-block;
		padding-left: 10px;
		color: #000;
		text-decoration: none;
		cursor: pointer;
		font-size: 4.5em;
		transition: .5s;
	}
	.nav-on{
		font-size: 6em !important;
		color: #3cf !important;
		text-shadow: 5px 5px black;
	}

	.datosHabilidades, .datosTexto{
		transform: translateY(0%)
	}
	.datosHabilidades{
		font-size: 0.8em;
	}
	.footer p{
		font-size: 1.6em;
	}

	.supBase{
		padding: 45px 0px;
	}
}/* 1280PX	 	1280PX  	1280PX 		1280PX 		1280PX 		1280PX */

@media screen and (max-width: 1366px){
	.base{
		width: 60%;
		left: 38%;
	}

	.nav li a, .nav li p{
		display: inline-block;
		padding-left: 10px;
		color: #000;
		text-decoration: none;
		cursor: pointer;
		font-size: 4.5em;
		transition: .5s;
	}
	.nav-on{
		font-size: 6em !important;
		color: #3cf !important;
		text-shadow: 5px 5px black;
	}

	.datosHabilidades, .datosTexto{
		transform: translateY(0%)
	}
	.datosHabilidades{
		font-size: 0.8em;
	}
	.footer p{
		font-size: 1.6em;
	}

	.supBase{
		padding: 45px 0px;
	}
}/* 1366PX	 	1366PX  	1366PX 		1366PX 		1366PX 		1366PX */