@font-face {
   font-family: 'Cream';
   src: url('CreamCake.ttf');
}
@font-face {
	font-family: 'Dexaters';
	src: url('Dexaters Sillent.otf');
}
*{
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body{
	/*background-color: #559*/
	background-color: #FFF;
}
.btnRes{
	display: none;
}
.h1{
	font-family: Cream;
	font-size: 3.5em;
	text-shadow: 8px 8px #3cf;
}
.subTitle{
	font-family: Dexaters;
	font-size: 3em;
}
.nav{
	display: initial;
	font-family: Cream;
	min-width: 30%;
	max-width: 36%;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}
li{
	list-style: none;
}
.nav li a, .nav li p{
	display: inline-block;
	padding-left: 10px;
	color: #000;
	text-decoration: none;
	cursor: pointer;
	font-size: 6em;
	transition: .5s;
}
.nav-on{
	font-size: 9.5em !important;
	color: #3cf !important;
	text-shadow: 5px 5px black;
}
.supBase{
	background-color: #eee;
}
.datosTexto, .datosHabilidades{
	background-color: #fff;	
}
.base{
	font-family: cursive;
	font-size: 32px;
	position: relative;
	left: calc(30% - 10px);
	width: 70%;
	color: #000;
}
.sup-Cont{
	text-align: center;
	min-height: 100vh;
}
#foto{
	width: 10em;
	margin-top: 50px;
	border: dashed 3px #000;
	border-radius: 50%;
	z-index: 1;
}
.datosTexto{
	margin: auto;
	text-align: center;
	transform: translateY(20vh);
	padding-right: 15px;
	padding-left: 15px;
	box-shadow: 0px 0px 18px 0px #000;
	border-radius: 30px;
	max-width: 977px;
}

/* COSAS QUE AMO 	 COSAS QUE AMO 		 COSAS QUE AMO 		 COSAS QUE AMO */

.cqa {
    background-color: rgba(200,200,200,.3);
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    padding: 10px;
}
.cqa1off, .cqa2off, .cqa3off,.cqa1on, .cqa2on, .cqa3on{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cqa1off{
	transition: .7s;
	transition-delay: .25s;
	opacity: 0;
	position: absolute;
    width: 1px;
    height: 170px;
    top: 39.5%;
    left: 37.5%;
}
.cqa2off{
	transition: .7s;
	transition-delay: .15s;
	opacity: 0;
	position: absolute;
    width: 170px;
    height: 1px;
    top: 30%;
    left: 41%;
    justify-content: space-between;
}
.cqa3off{
	transition: .7s;
	opacity: 0;
	position: absolute;
    width: 1px;
    height: 170px;
    top: 39.5%;
    left: 57%;
}

.cqa1on{
	transition: .7s;
	position: absolute;
    width: 1px;
    height: 350px;
    top: 33.5%;
    left: 26.5%;
}
.cqa2on{
	transition: .7s;
	transition-delay: .15s;
	position: absolute;
    width: 237px;
    height: 1px;
    top: 17%;
    left: 38.3%;
    justify-content: space-between;
}
.cqa3on{
	transition: .7s;
	transition-delay: .25s;
	position: absolute;
    width: 1px;
    height: 350px;
    top: 33.5%;
    left: 65%;
}


/*	HABILIDADES		HABILIDADES		HABILIDADES		HABILIDADES 	*/


.datosHabilidades{
	display: inline-grid;
	transform: translateY(10vh);
	grid-template-columns: auto auto auto auto auto;
	justify-items: center;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
	box-shadow: 0px 0px 18px 0px #000;
	border-radius: 30px;
}
.habilidad{

	margin: 9% 0px;
	text-align: center;
	font-size: .7em;
	max-width: 128px;
	max-height: 128px;
}
.habilidad img{
	width: 90%;
}


/*	CONTACTO	CONTACTO	CONTACTO	CONTACTO	CONTACTO	CONTACTO	*/


.formContacto{
	display: none;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(100,100,100,.7);
	z-index: 2;
}
.formulario{
	position: relative;
	top: 45vh;
	text-align: center;
	transform: translate(50%, -50%);
	background-color: #fff;
	width: 50vw;
}

#nombreI,#emailI,#textI{
	border: double 2px #000;
	width: 50%;
	height: 6vh;
	font-size: 2em;
}
.formulario p,.formulario button{
	font-family: Dexaters;
	font-size: 3.5em
}
#btnSub{
	outline: none;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 3vh;
	border: solid 3px #000;
	border-radius: .7em;
}
#btnSub:hover{
	cursor: pointer;
	color: #3cf;
	background-color: #000;
}
#closeContact{
	position: relative;
	top: 10vh;
	left: 73vw;
	cursor: pointer;
	z-index: 1;
}
.on{
	display: initial;
}

/*
	FOOTER 		FOOTER		FOOTER		FOOTER		FOOTER		FOOTER
*/

.footer{
	background-color: #bbb;
	display: grid;
	grid-template-columns: auto auto auto;
}
.footer div{
	text-align: center;
}
.redesS{
	margin: 15px;
	display: inline-block;
}
.redesS img{
	width: 32px !important;
}


/*
	EASTER EGG		EASTER EGG		EASTER EGG		EASTER EGG		EASTER EGG

	EASTER EGG		EASTER EGG		EASTER EGG		EASTER EGG		EASTER EGG
*/

.easterEggs{
    display: inline-flex;
    position: fixed;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(51, 204, 255, .5);
    left: 50px;
    top: 50px;
}
.easterEggs img{
	max-width: 80px;
	border-radius: 50%;
}